<nav class="navbar">
    <a href="#" class="logo">FitHaBoss</a>
    <div class="menu-toggle" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/male">For Male</a></li>
        <li><a href="/female">For Female</a></li>
        <li><a href="/child">For Child</a></li>
    </ul>
</nav>
