<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga for Women - FitHaBoss</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include("partials/header") %>


    <div class="exercise-container">
        <h2>Yoga for Women</h2>
        <div id="exercise-list" class="exercise-list" data-type="female">
            <p>Loading exercises...</p>
        </div>
    </div>
    <script src="/js/exercises.js"></script>
    

</body>
</html>
