<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitHaBoss</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include("partials/header") %>

    <div class="container">
        <!-- Left Section -->
        <div class="left-section">
            <h1>Dream to Make a Healthy World</h1>
            <p>Join us today and take the first step towards a healthier and stronger you! We provide personalized fitness plans for everyone.</p>
            <a href="/login" class="btn">Join Now</a>
        </div>

        <!-- Right Section (Gym Images) -->
        <div class="right-section">
            <img 
            src="https://tse4.mm.bing.net/th?id=OIP.xqSvDwnQYJRaAkO1ozm_QwHaHa&pid=Api&P=0&h=220"
            alt="Male Gym Workout">
            <img src="https://tse4.mm.bing.net/th?id=OIP.7_bBIbRFxs9YsrXQtEpivwHaKb&pid=Api&P=0&h=220" alt="Female Gym Workout">
            <img src="https://tse3.mm.bing.net/th?id=OIP.ggmXTQBkEL8zwCN241BwgwHaE8&pid=Api&P=0&h=220" alt="Child Gym Workout">
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
